body {
  font-family: "Droid Sans Mono";
  font-size: 100%;
  width: 400px;
  height: 400px;
  background-color: #BCC6CC;
  color: #0C090A;
}

#pure-button-grid .pure-u-1-5 {
  padding: 4px;
  margin: 10px;
}